<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySweetHomes</title>
    <link rel="stylesheet" href="css/open_page_style.css">
</head>
<body>
    <div class="container">
        <div class="first both">
            <a href="/tenant_signin">Sign-in as Tenant</a>
        </div>
        <div class="second both">
            <a href="/owner_signin">Sign-in as Owner</a>
        </div>
    </div>
</body>
</html>